
@keyframes enemy-damage-animation{
	0%{opacity: 1;}
	100%{opacity:1; transform: translateY(-5vh);}
}


body{
	width: 100vw;
	height: 90vh;
	font-family: Arial, Sans-Serif;
}

.menu-screen{
	z-index: 98;
}

.menu-screen nav{
	margin-top: 20vh;
}

.menu-screen nav div{
	color: white;
	font-size: 5vw;
	text-align: center;
	font-weight: 900;
	border-bottom: 3px solid white;
	text-transform: uppercase;
}

.menu-screen nav div:hover{
	background-color: white;
	color: black;
}

.menu-screen .confirmation-screen{
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: black;
	padding: 0 15vw;
}

.confirmation-screen p{
	margin-top: 20vh;
	font-size: 6vw;
	color: white;
	font-weight: 900;
	margin-bottom: 10vw;
	text-align: center;
}

.confirmation-button-area{
	padding: 0 10vw;
}

.confirmation-button-area .button{
  color: white;
	font-size: 5vw;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	padding: 1vw 3vw;
	border: 3px solid white;
}

.confirmation-button-area .button:hover{
	background-color: white;
	color: black;
}

.main-screen{
	background-image: url("../../images/scenaries/scenary1c.jpeg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.screen-damage-area{
	box-shadow: 0 0 20px 10px red inset;
	z-index: 99;
}

.enemies-area{
	margin-top: 20vh;
}

.enemies-area .enemy{
	height: 20vh;
	max-width: 17vw;
}

.enemy .enemy__damage{
	color: white;
	font-size: 5vw;
	opacity: 0;
	font-weight: bold;
}

.enemy-damage-display{
	animation: enemy-damage-animation 1s linear;
}

.enemy-damage-display-critical{
	animation: enemy-damage-animation 1s linear;
	color: yellow;
}

.mini-boss-area{
	margin-top: -20vh;
}

.mini-boss-area .enemy{
	height: 30vh;
}

.boss-area{
	margin-top: -30vh;
	z-index: 2;
}

.boss-area .enemy{
	height: 45vh;
}

.enemy img{
	height: 100%;
}

.event-area{
	width: 100vw;
	margin-top: -30vh;
}

.event-area__explosion{
	display: none;
}

.event-area__fire{
  width: 100%;
  display: none;
}

.screen-blood-area{
	height: 50vh;
	margin-top: 20vh;
}

.screen-blood-area img{
	height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.game-texts, .characters-dialogues, .received-items{
	margin-top: 20vh;
	color: white;
}

.offset-screen{
	z-index: 99;
}

.game-texts p, .characters-dialogues p, .received-items p{
	margin-bottom: 0!important;
}

.game-texts__text-area p, .characters-dialogues__text-area p{
	height: 100%;
	font-size: 4.5vw;
}

.next-button{
	text-decoration: underline;
	margin-top: 5vw;
	font-size: 4.2vw;
}

.game-texts{
	width: 100vw;
	padding: 5vw 15vw;
}

.game-texts__text-area{
	height: 25vh;
	overflow-y: auto;
	padding-right: 2vw;
}

.received-items{
	background-color: black;
	border-radius: 20px;
	height: 40vh;
	width: 70vw;
	padding: 3vw;
}

.received-items__title{
	font-size: 7vw;
	font-weight: 900;
}

.received-items img{
	max-height: 10vh;
	max-width: 90%;
	background-color: #343434;
}

.received-items__quantity{
	font-size: 6vw;
	font-weight: 900;
}

.received-items p{
	font-size: 5vw;
	font-weight: 900;
}

.received-items__ok-button{
	font-size: 6vw;
	font-weight: 900;
	text-transform: uppercase;
}

.game-texts-screen,
.characters-dialogues-screen,
.received-items-screen,
.menu-screen,
.menu-screen__feedback,
.new-game-screen,
.load-game-screen,
.save-game-screen,
.feedback-screen,
.screen-blood-area{
	
}
