
@keyframes enemy-damage-animation{
	100%{transform: translateY(-5vh);}
}

@keyframes enemyAttacking{
	50%{transform: scale(1.2) translateY(2vh);}
	100%{transform: scale(1) translateY(0);}
}

@keyframes progress-bar{
	100%{width: 100%;}
}

@keyframes walk{
	50%{background-position-y: 4vw;}
	100%{background-position-y: bottom;}
}

body{
	width: 100vw;
	height: 90vh;
	font-family: Arial, Sans-Serif;
}

.loading-screen{
	background-color: black;
	z-index: 20;
}

.loading-screen span{
	color: white;
	font-size: 7vw;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
}

.menu-screen{
	z-index: 19;
}

.menu-screen nav{
	margin-top: 20vh;
}

.menu-screen nav div{
	color: white;
	font-size: 5vw;
	text-align: center;
	font-weight: 900;
	border-bottom: 3px solid white;
	text-transform: uppercase;
}

.menu-screen nav div:hover{
	background-color: white;
	color: black;
}

.menu-screen .confirmation-screen{
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: black;
	padding: 0 15vw;
}

.confirmation-screen p{
	margin-top: 20vh;
	font-size: 6vw;
	color: white;
	font-weight: 900;
	margin-bottom: 10vw;
	text-align: center;
}

.confirmation-button-area{
	padding: 0 10vw;
}

.confirmation-button-area .button{
  color: white;
	font-size: 5vw;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	padding: 1vw 3vw;
	border: 3px solid white;
}

.disabled-menu-button{
	opacity: 0.3;
	pointer-events: none;
}

.confirmation-button-area .button:hover{
	background-color: white;
	color: black;
}

.main-screen{
	background-image: url("../../images/scenaries/scenary1c.jpeg");
	background-size: auto 99%;
	background-position: bottom;
	background-repeat: no-repeat;
}

.walk-animation{
	animation: walk 0.8s linear 5 alternate;
}

.screen-damage-area{
	box-shadow: 0 0 20px 10px red inset;
	z-index: 12;
}

.enemy{
	transition: opacity 1s ease-out;
	pointer-events: none;
}

.enemies-area{
	margin-top: 20vh;
}

.enemies-area .enemy{
	height: 20vh;
	width: 17vw;
}

.enemy .enemy__damage{
	color: white;
	font-size: 5vw;
	font-weight: bold;
	min-width: 10vw;
	text-align: right;
}

.enemy-damage-display{
	animation: enemy-damage-animation 1s linear;
	opacity: 1!important;
}

.enemy-damage-display-critical{
	animation: enemy-damage-animation 1s linear;
	opacity: 1!important;
	color: yellow!important;
}

.mini-boss-area{
	margin-top: -20vh;
}

.mini-boss-area .enemy{
	height: 30vh;
	width: 40vw;
}

.boss-area{
	margin-top: -30vh;
	z-index: 2;
}

.boss-area .enemy{
	height: 45vh;
}

.enemy img{
	height: 100%;
}

.enemy-attacking{
	animation: enemyAttacking 1s linear;
}

.event-area{
	width: 100vw;
	height: 50vw;
	margin-top: -30vh;
	position: relative;
}

.event-area img{
	position: absolute;
}

.event-area__fire{
  width: 100%;
}

.event-area__thank-you-note{
  height: 50%;
  transition: opacity 2s;
}

.screen-blood-area{
	height: 50vh;
	margin-top: 20vh;
}

.screen-blood-area img{
	height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.game-texts, .characters-dialogues, .received-items, .received-weapon, .received-event-item{
	margin-top: 20vh;
	color: white;
}

.offset-screen{
	z-index: 17;
}

.crafting-progress-screen{
	z-index: 18;
}

.game-texts p, .characters-dialogues p, .received-items, .received-event-item p{
	margin-bottom: 0!important;
}

.game-texts__text-area p, .characters-dialogues__text-area p{
	height: 100%;
	font-size: 4.5vw;
}

.next-button{
	text-decoration: underline;
	margin-top: 5vw;
	font-size: 4.2vw;
}

.game-texts{
	width: 100vw;
	padding: 5vw 15vw;
}

.game-texts__text-area{
	height: 25vh;
	overflow-y: auto;
	padding-right: 2vw;
}

.received-items, .received-weapon, .received-event-item{
	background-color: black;
	border-radius: 20px;
	height: 40vh;
	width: 70vw;
	padding: 3vw;
}

.received-items__title, .received-weapon__title, .received-event-item__title{
	font-size: 7vw;
	font-weight: 900;
}

.received-items img, .received-weapon img, .received-event-item img{
	max-height: 10vh;
	max-width: 90%;
	background-color: #343434;
}

.received-items__quantity{
	font-size: 6vw;
	font-weight: 900;
}

.received-items p, .received-weapon p, .received-event-item p{
	font-size: 5vw;
	font-weight: 900;
}

.received-items__ok-button, .received-weapon__ok-button, .received-event-item__ok-button{
	font-size: 6vw;
	font-weight: 900;
	text-transform: uppercase;
}

.search-fail{
	background-color: black;
	width: 90vw;
	padding: 3vw;
  margin-top: 30vh;
	color: white;
}

.search-fail__text{
	font-size: 6vw;
	font-weight: 900;
}

.search-fail__ok-button{
	font-size: 6vw;
	font-weight: 900;
	text-transform: uppercase;
}

.search-screen-area, .crafting-progress-screen__area{
	margin-top: 30vh;
	color: white;
	width: 80vw;
	padding: 15vw 5vw;
}

.search-screen-area__content span, .crafting-progress-screen-area__content span{
	font-size: 6vw;
	font-weight: bold;
}

.search-screen-area__bar-container, .crafting-progress-screen-area__bar-container{
	width: 100%;
	height: 8vw;
}

.search-screen-area__bar, .crafting-progress-screen-area__bar{
	height: 100%;
	width: 0%;
	background-color: white;
}

.search-bar-animation{
	animation: progress-bar 4.2s linear forwards;
}

.crafting-bar-animation{
	animation: progress-bar 1.5s linear forwards;
}

.no-transition{
	transition: none!important;
}




@media (min-width: 1024px){
body{
	width: 100vw;
	height: 100vh;
	font-family: Arial, Sans-Serif;
}

.loading-screen span{
	font-size: 4vw;
}

.menu-screen nav{
	margin-top: 10vh;
}

.menu-screen nav div{
	color: white;
	font-size: 2.5vw;
	border-bottom: 5px solid white;
}

.menu-screen .confirmation-screen{
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: black;
	padding: 0 8vw;
}

.confirmation-screen p{
	margin-top: 10vh;
	font-size: 3vw;
	margin-bottom: 10vh;
}

.confirmation-button-area{
	padding: 0 8vh;
}

.confirmation-button-area .button{
	font-size: 3.5vw;
	padding: 1vh 3vh;
	border: 5px solid white;
}

.main-screen{
	background-image: url("../../images/scenaries/scenary1c.jpeg");
	background-size: auto 99%;
	background-position: bottom;
	background-repeat: no-repeat;
	width: 50%!important;
}

.screen-damage-area{
	box-shadow: 0 0 50px 30px red inset;
}

.enemies-area{
	margin-top: 10vh;
}

.enemies-area .enemy{
	height: 20vh;
	width: 8vw;
}

.enemy .enemy__damage{
	font-size: 2vw;
	min-width: 8vh;
}

.mini-boss-area{
	margin-top: -20vh;
}

.mini-boss-area .enemy{
	height: 30vh;
	width: 20vw;
}

.boss-area{
	margin-top: -30vh;
}

.event-area{
	width: 50vw;
	margin-top: -25vh;
}

.event-area img{
	position: absolute;
	max-height: 25vh;
}

.screen-blood-area{
	height: 50vh;
	margin-top: 30vh;
}

.game-texts, .characters-dialogues, .received-items, .received-weapon, .received-event-item{
	margin-top: 20vh;
	color: white;
}

.game-texts__text-area p, .characters-dialogues__text-area p{
	font-size: 2.2vw;
}

.next-button{
	text-decoration: underline;
	margin-top: 5vh;
	font-size: 2.2vw;
}

.game-texts{
	width: 60vw;
	padding: 5vh 15vh;
}

.game-texts__text-area{
	height: 25vh;
	padding-right: 2vh;
}

.received-items, .received-weapon, .received-event-item{
	border-radius: 30px;
	height: 55vh;
	width: 40vw;
	padding: 3vh;
}

.received-items__title, .received-weapon__title, .received-event-item__title{
	font-size: 3vw;
	font-weight: 900;
}

.received-items img, .received-weapon img, .received-event-item img{
	max-height: 15vh;
	max-width: 90%;
}

.received-items__quantity{
	font-size: 2.8vw;
}

.received-items p, .received-weapon p, .received-event-item p{
	font-size: 2.5vw;
	font-weight: 900;
}

.received-items__ok-button, .received-weapon__ok-button, .received-event-item__ok-button{
	font-size: 2.8vw;
}

.search-fail{
	background-color: black;
	width: 45vw;
	padding: 3vh;
  margin-top: 30vh;
}

.search-fail__text{
	font-size: 3vw;
}

.search-fail__ok-button{
	font-size: 2.8vw;
}

.search-screen-area, .crafting-progress-screen__area{
	margin-top: 30vh;
	color: white;
	width: 45vw;
	padding: 15vh 5vh;
}

.search-screen-area__content span, .crafting-progress-screen-area__content span{
	font-size: 4vw;
}

.search-screen-area__bar-container, .crafting-progress-screen-area__bar-container{
	width: 100%;
	height: 8vh;
}
}
