
.player-hud{
	z-index: 4;
}

.player-menu-area{
	height: 40vh;
}

.player-menu-area div, .player-menu-area nav{
	height: 100%;
}

.player-menu-area-display__screen, .player-menu-area__display li{
	background-color: #e8dcb8;
	border: 1px solid black;
}

.player-menu-area li{
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-menu-area ul{
	padding-top: 2vw;
}

.player-menu-area__options{
	width: 13vw;
	overflow-y: auto;
	border-top-left-radius: 10px;
	background-color: black;
	border: 1px solid black;
}

.player-menu-area__options::-webkit-scrollbar{
	background-color: transparent;
}

.player-menu-area__options::-webkit-scrollbar-track{
	background-color: transparent;
}

.player-menu-area__options::-webkit-scrollbar-thumb{
	background-color: #CD7F32;
}

.player-menu-area__options li{
	background-color: #CC5500;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 1vw;
	margin-right: 2vw;
	width: 10vw;
	margin-bottom: 2vw;
}

.player-menu-area__options li:hover, .player-menu-area__display li:hover, .actions-area__button:active{
	background-color: #8B4000!important;
}

.player-menu-area__options, .player-menu-area__options li{
	height: 6vh;
}

.player-menu-area__options li img{
	height: 100%;
	width: 100%;
	padding: 0.5vw;
	object-fit: contain;
}

.player-menu-area__display{
	position: relative;
	border-left: none;
	height: 100%;
	background-color: #e8dcb8;
}

.player-menu-area-display__screen{
	position: absolute;
	border-left: none;
}

.player-menu-area__display, .player-menu-area__display li{
	width: 25vw;
	height: 7vh;
}

.player-menu-area__display li{
	border-left: none;
	border-right: none;
}

.player-menu-area__display li img{
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.player-menu-area-display__weapons{
	z-index: 3;
}

.player-menu-area-display__consumables{
	z-index: 2;
}

.player-menu-area-display__others{
	z-index: 1;
}

.player-menu-area__life-bar{
	width: 10vw;
	height: 100%;
	align-self: flex-end;
	/*box-shadow: 0 0 5px 5px inset green;*/
	background-color: rgba(00, 00, 00, 0.5);
	display: flex;
	align-items: flex-end;
	overflow-y: hidden;
}

.player-menu-area__life-bar img{
	height: 40vh;
	max-width: 100%;
}

.actions-area{
	width: 52vw;
}

.actions-area__button{
	border-radius: 50%;
	background-color: #CD7F32;
	border: 5px solid #A0522D;
}

.actions-area__button img{
	height: 70%;
	width: 70%;
	object-fit: contain;
}

.actions-area__search-button{
	height: 15vw;
	width: 15vw;
	align-self: flex-end;
	margin-right: 5vw;
	margin-top: 5vw;
}

.actions-area__attack-button{
	height: 25vw;
	width: 25vw;
	margin-right: 5vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.actions-area-weapon-ammo{
	color: white;
	font-size: 4.5vw;
	bottom: 10%;
	right: 15%;
	padding: 0.5vw 1vw;
	border-radius: 5px;
	max-width: 90%;
	overflow: hidden;
	background-color: rgba(00, 00, 00, 0.6);
}

.actions-area__walk-button{
	height: 15vw;
	width: 15vw;
	align-self: flex-end;
	margin-right: 10vw;
}

.player-item-confirm{
	background-color: black;
	margin-bottom: 20vh;
	padding: 10vw 10vw;
	margin-left: 38vw;
}

.player-item-confirm div{
	background-color: #CD7F32;
	border-radius: 10px;
	border: 3px solid #A0522D;
	min-width: 20vw;
	text-align: center;
	color: black;
	padding: 1vw 0;
}

.player-item-confirm div:hover{
	background-color: #8B4000;
	color: white;
}
